@model PomodoroTimer.ViewModels.AlunoViewModel

@{
    ViewBag.Title = "Cadastrar";
}

@section Estilo{
    <style>
        /*

            FORMULÁRIO DE CADASTRO

        */
        body {
            background-color: #f7f7f7;
        }

        .container {
            margin-top: 70px;
            margin-bottom: 70px;
        }

        .titulo {
            font-family: 'Gotham Light';
            font-size: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            text-align: center;
            color: #caa013;
            font-weight: 600;
        }

        .textarea {
            width: 100%;
            border: none;
            background: transparent;
            border-bottom: 1px solid #333;
            margin-bottom: 24px;
            border-radius: 0;
            padding: 16px 20px;
            font-family: 'Gotham Light';
            font-size: 15px;
            color: #333;
            resize: none;
            transition: border-color 0.3s;
            max-width: 100%;
        }

        .cadastro {
            margin-top: 50px;
            padding: 35px 20px;
            color: #333;
        }

        .btn-enviar {
            height: 50px;
            line-height: 48px;
            border: none;
            background-color: #caa013;
            color: #fff;
            width: 100%;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            border-radius: 0 !important;
            font-family: 'Open Sans';
            margin-left: 130px;
            margin-top: 30px;
        }

            .btn-enviar:hover {
                color: #caa013;
                background-color: #fff;
                transition: 0.5s;
            }

        .formulario {
            margin-top: 80px;
        }
    </style>
}

@section Navbar{
<!--NavBar-->
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#">
            <span class="glyphicon glyphicon-log-in" data-toggle="modal" data-target="#modalLogar">
                Entrar
            </span>
        </a>
    </li>
</ul>
}



<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="titulo">Cadastrar Aluno</h2>
            <div class="formulario">
                @MyHelper.Message(Model.Msg)
                @using (@Html.BeginForm())
            {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" style="font-family: 'Gotham Light';">
                                @Html.LabelFor(m => m.Nome)
                                @Html.TextBoxFor(m => m.Nome, new { @class = "textarea" })
                                @Html.ValidationMessageFor(m => m.Nome)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" style="font-family: 'Gotham Light';">
                                @Html.LabelFor(m => m.Rm)
                                @Html.TextBoxFor(m => m.Rm, new { @class = "textarea" })
                                @Html.ValidationMessageFor(m => m.Rm)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" style="font-family: 'Gotham Light';">
                                @Html.LabelFor(m => m.DtNascimento)
                                @Html.TextBoxFor(m => m.DtNascimento, "{0:dd/MM/yyyy}", new { @class = "textarea" })
                                @Html.ValidationMessageFor(m => m.DtNascimento)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" style="font-family: 'Gotham Light';">
                                @Html.LabelFor(m => m.CursoId)
                                @Html.DropDownListFor(m => m.CursoId, Model.Cursos, "Selecione", new { @class = "textarea-dropdown" })
                                @Html.ValidationMessageFor(m => m.CursoId)
                            </div>
                        </div>
                    </div>

                    @MyHelper.InputSubmit("Cadastrar", "btn btn-enviar")

                }
            </div>
        </div>

    </div>
</div>

    @section Scripts{
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/jquery-validate-fixes.js"></script>
        <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

        <script>
            var isValid = false;

            $(document).ready(function () {
                $("#DtNascimento").datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior'
                });

                $("#Rm").focusout(function () {
                    validarRm();
                });
            });

            function validarRm() {
                if ($("#Rm").val() != "") {
                    $.ajax({
                        url: "http://localhost:39324/Aluno/VerificarRm",
                        type: "GET",
                        data: { "rm": $("#Rm").val() },
                        success: function (data) {
                            if (data.existe) {
                                $("#Rm").parent().addClass("has-error");
                                $("#Rm").parent().find(".field-validation-valid").text("Esse RM já está cadastrado");
                                $("#Rm").focus();
                                $("#Cadastrar").prop("disabled", true);
                            } else {
                                $("#Rm").parent().removeClass("has-error");
                                $("#Rm").parent().find(".field-validation-valid").text("");
                                $("#Cadastrar").prop("disabled", false);
                            }
                        }
                    });
                }
            }
        </script>
    }
