@model PomodoroTimer.ViewModels.CursoViewModel

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar Curso</h2>

@MyHelper.Message(Model.Msg)

@using (@Html.BeginForm())
{ 
    
<div class="form-group">
    @Html.LabelFor(m => m.Nome)
    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Nome)
</div>

@MyHelper.InputSubmit("Cadastrar","btn btn-primary")
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Nome").focusout(function () {
                validarNome();
            });
            $("form").submit(function () {
                if (validarNome() == true) {
                    $("form").submit();
                }
            })
        });

        function validarNome() {
            var isValid = false;
            $.ajax({
                url: "http://localhost:39324/Curso/VerificarNome",
                type: "GET",
                data: { "nome": $("#Nome").val() },
                success: function (data) {
                    if (data.existe) {
                        $("#Nome").parent().addClass("has-error");
                        $("#Nome").focus();
                        $("#Nome").parent().find(".field-validation-valid").text("Esse curso já está cadastrado");
                    } else {
                        $("#Nome").parent().removeClass("has-error");
                        $("#Nome").parent().find(".field-validation-valid").text("");
                        isValid = true;
                    }
                }
            });
            return isValid;
        }
    </script>
}