@helper Message(string msg)
{
    if (msg != null)
    {
            <div class="alert alert-success">
                @msg
            </div>
    }
}

@helper MessageError(string msg)
{
if (msg != null)
{
        <span style="color: red">
            @msg
        </span>
}
}

@helper Button(string value, string classe)
{ 
    <input type="button" value="@value" id="@value" class="@classe" />    
}

@helper InputSubmit(string value, string classe)
{
    <input type="submit" value="@value" id="@value" class="@classe" />
}