@model PomodoroTimer.ViewModels.SessaoViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Sessão</h2>

@section Estilo{
    <style>
        .digital {
            list-style: none;
            padding: 0;
        }

        .digital > li {
            font-size: 30px;
            font-family: Tahoma;
            font-weight: bold;
            display: inline-block;
        }

     .relogio {
            width: 500px;
            height: 500px;
            border: solid 30px #000;
            border-radius: 50%;
            margin: 10px auto;
            position: relative;
            background: url('imgs/fundo3.png');
        }

        .digital {
            width: 123px;
            margin: 0 auto;
        }

        .hub {
            width: 218px;
            margin: 0 auto;
        }

        #ponteiroSegundo {
            width: 6px;
            height: 210px; /* metade width do relogio - margin do ponteiro * 2*/
            background-color: coral;
            margin: 40px 247px; /* (width relogio - width ponteiro) / 2*/
            position: absolute;
            box-shadow: 1px 1px 2px;
            border-radius: 10px;
            transform-origin: 3px bottom;
        }

        #ponteiroMinuto {
            width: 16px;
            height: 210px;
            background-color: #000;
            margin: 40px 242px;
            position: absolute;
            box-shadow: 1px 1px 2px;
            border-radius: 10px;
            transform-origin: 8px bottom; /* rodar na metade do width(centro do ponteiro)*/
        }

        #ponteiroHora {
            width: 16px;
            height: 105px;
            background-color: #000;
            margin: 145px 242px;
            position: absolute;
            box-shadow: 1px 1px 2px;
            border-radius: 10px;
            transform-origin: 8px bottom; /* rodar na metade do width(centro do ponteiro)*/
        }

        #centro {
            width: 30px;
            height: 30px;
            background-color: #000;
            margin: 235px 235px;
            border-radius: 50%;
            position: absolute;
        }
    </style>
}

@MyHelper.Message(Model.Msg)

@using (@Html.BeginForm())
{

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.TipoId)
                @Html.DropDownListFor(m => m.TipoId, Model.TiposSessao, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TipoId)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.MateriaId)
                @Html.DropDownListFor(m => m.MateriaId, Model.Materias, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MateriaId)
            </div>
        </div>
    </div>

   

}

@Html.Partial("_modalRelogio")


@section Scripts{
    <script>
        $(document).ready(function () {
          

        });
    </script>
}
